<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Daraz</h1>
    {% for product in products %}
    <img src="{{product.image.url}}" alt="" height="200" width="250">
    <h2>{{product.name}}</h2>
    <p>Rs.{{product.price}}</p>
    <a href="{% url 'productDetail' product.id %}"><button>Check Detail</button></a>
    <hr>
    {% endfor %}
</body>
</html>